:root {
    --color-white:#FFFFFF;
    --color-black:#2D3436; 
    --color-grayDark: #5C5C5C;
    --color-gray: #858585;
    --color-grayLight: #ADADAD;
    --color-graySoft: #C2C2C2;
    --color-blueDark: #0984E3;
    --color-blueLight: #74B9FF;
    --color-greenDark: #00B894;
    --color-greenLight: #55EFC4;
    --color-yellowDark: #FDCB6E;
    --color-yellowLight: #FFEAA7;
    --color-redDark: #D63031;
    --color-redLight: #FF7675;
    --color-purpleDark: #6C5CE7;
    --color-purpleLight: #A29BFE;
    --color-pinkDark: #E84393;
    --color-pinkLight: #FD79A8;

    --font-family-Bold: InterBold;
    --font-family-Light: InterLight;
    --font-family-Medium: InterMedium;
    --font-family-Regular: InterRegular;

    --animation-speed: .3s;
    --animation-func: ease;
}

body {
    margin: 0;
}

/*FONTS*/

@font-face {
    font-family: InterBold;
    src: url('../fonts/inter/Inter-Bold.ttf');
}

@font-face {
    font-family: InterLight;
    src: url('../fonts/inter/Inter-Light.ttf');
}

@font-face {
    font-family: InterMedium;
    src: url('../fonts/inter/Inter-Medium.ttf');
}

@font-face {
    font-family: InterRegular;
    src: url('../fonts/inter/Inter-Regular.ttf');
}