
@media (max-width: 400px){

    /*HEADER*/
    .header {
        padding-left: 5px;
        padding-right: 15px;
        
    }

    .nav-bar {
        display: none;
    }

    .header-logo-img {
        display: none;
    }

    .header-dropdown-menu {
        display: inline;
    }

    .header-logo-name {
        font-size: 24px;
        color: var(--color-grayDark);
        line-height: 36px;
    }

    .header-button {
        padding: 0 15px;
        height: 40px;
        width: 128px;
        font-size: 18px;
        line-height: 32px;
        border-radius: 8px;
    }

    /*MAIN*/
    .title-text {
        font-size: 64px;
    }

    .title-small-text {
        font-size: 24px;
    }

    .main-text-fine::after{
        height: 47%;
    }

    .title-text {
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }

    .title-text span {
        font-size: 48px;
    }

    .title-small-text {
        font-size: 24px;
        margin-top: 16px;
    }

    .main-background-rectangle {
        width: 757.27px;
    }
    .main-background-dots {
        width: 25vw;
    }

    .main-button{
        height: 37px;
        width: 130px;
        font-size: 14px;
        background: var(--color-black); 

        grid-column: 5 / 6;
	    grid-row: 7 / 8;
    }

    .main{
        overflow: hidden;
    }

    .main-background-wave{
        top: -150px;
        display: inline;
    }

    .main-grid{
        width: 100vw;
        grid-gap: 3vw;
        margin-top: 24px;

    }

    .main-grid-text1,
    .main-grid-text2 {
        display: none;
    }

    .main-text {
        padding-bottom: 24px;
    }

    .main-arrow-right{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background: rgba(255, 255, 255, .24);
    }

    /*INFO*/
    .info{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 40px;
    }

    .info-subtitle {
        font-size: 18px;
    }

    .info-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .info-card-description {
        font-size: 14px;
    }

    .info-title {
        font-size: 24px;
        margin-top: 20px;
    }


    .info-card-title {
        font-size: 18px;
        margin-top: 17.5px;
    }

    .info-button {
        height: 36px;
        width: 109.5px;
        font-size: 12px;
    }

    .info-card img {
        border-radius: 12px;
        height: 53px;
        width: 53px;
    }

    /*PRICE*/

    .price {
        padding-top: 0px;
    }

    .price-title {
        font-size: 32px;
        margin-top: 20px;
        
    }

    .price-subtitle {
		font-size: 24px;
        margin-top: 8px;
        font-family: var( --font-family-Regular);
	}

    .price-card-amount {
        margin-top: 12px;
		font-size: 16px;
    }

    .price-card {
        padding: 24px;
        margin-bottom: 24px;
        box-shadow: 0px 8px 8px rgba(38, 50, 56, 0.12), 0px 16px 24px rgba(38, 50, 56, 0.08);
    }

    .price-cards {
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

    .price-card::after {
        content: none;
    }

    .price-card-service {
        font-size: 14px;
    }


    .price-button, 
    .default-button,
    .primary-button {
        width: 282px;
        height: 48px;
        border-radius: 16px;
        font-size: 18px;
    }
    
    .price-card-service li::before {
        width: 24px;
        height: 24px;
    }


    /*FOOTER*/
    .footer {
        padding-top: 0px;
        padding-left: 15px;
        padding-right: 15px;
        flex-direction: column-reverse;
    }

    .footer-feedback-form > div {
		flex-direction: column;
	}

    .footer-info > div:last-child,
	.footer-socials-title {
		display: none;
	}

    .footer-feedback-form input,
	.footer-feedback-form textarea {
		width: 100%;
	}
    
	.footer-feedback-form label:first-child {
		margin-right: 0px;
	}
    
    .feedback-email-input-container {
		margin-top: 15px;
	}

	.footer-feedback-form div:first-child,
	.feedback-textarea-container {
		margin-bottom: 15px;
	}

	.footer-feedback-form button {
		align-self: flex-end;
		height: 50px;
	}
}



